{% extends "base.html" %}

{% block title %}Inicio - Mi App{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bienvenido al Sistema ERP</h1>
    <p class="lead">El Sistema de Planificación de Recursos Empresariales (ERP) de nuestra empresa integra diversas funciones para mejorar la gestión y operación:</p>
    <hr class="my-4">
    <p>El módulo de Finanzas y Contabilidad permite administrar eficazmente las transacciones financieras, incluyendo:</p>
    <ul>
        <li>Gestión de libros contables y reportes financieros.</li>
        <li>Registro y seguimiento de ingresos y egresos.</li>
        <li>Control de presupuestos y análisis de costos.</li>
        <li>Generación de estados financieros y balances.</li>
    </ul>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Más información</a>
    </p>
</div>
{% endblock %}
